server:
  port: 8080

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      routes:
        - id: student-service
          uri: lb://STUDENT-SERVICE
          predicates:
            - Path=/api/students/**
        - id: class-service
          uri: lb://CLASS-SERVICE
          predicates:
            - Path=/api/classes/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/